{% extends "base.html" %}

{% block content %}

        <head>
            <h1>{{title_main}}</h1>
            <h2>{{subtitle}}</h2>
            <style>
                .error {color: red;}
            </style>
        </head>
        <body>
            <form method='POST'>
                <table>
                    <tr>
                    <td><label>New Title:</label></td>
                        <td><input type="text" name="title" value="{{ title }}" required/>
                        <span class="error">{{title_error}}</span></td>
                    </tr>
                    <tr>
                    <td><label>New Post:</label></td>
                        <td><textarea name="body" rows="5", cols="120" required />{{ body }}</textarea>
                        <span class="error">{{post_error}}</span></td>
                    </tr>
                   
                </table>
                <input type="submit" value="Submit" />
            </form>
        </body>

    
  
{% endblock %}